.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 2px solid;
}
.nav-items >ul
 {
    list-style-type: none;
    display: flex;
}
.nav-items >ul>li {
    padding:20px;
    padding-right: 50px;;
}
.logo{
    width:100px;
    height:100px;}

.fishtypes {

    width:200px;
    border: 2px solid ;
    margin:20px;
    padding: 10px;

}
.fishtypes >img {
    width:100%;
    border-radius: 14px;
}
.fish-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.search-bar {
    
    margin: 0 300  auto;
    display: inline-block;
}
.search-bar >input{
    width:500px;
    height: 30px ;
    
}
.search-bar >button{
    width:100px;
    height: 35px ;
    
}
.login {
    background-color:darkblue;
    color:azure
}
.fish-shimmer {
    width:200px;
    height: 200px;
    margin: 20px;
    background-color: grey;

}
.title
{
    color: #c2202f;
   
    font-size: 1.75rem;
   text-align: center; 
}
.fishName {
    color: #c2202f;
    margin-bottom: 0;
    font-size: 1.75rem;
   text-align: center;

}
.fishImg{
    border-radius: 14px;
    width:45%;
    margin: 50px;
}  
.details {
    display: inline-block;
    font-size: 1rem;
    color: darkred;
    text-align: center;

   
}
    
.fish-detail {
    margin-bottom: 0;
    font-size: 1.75rem;
   text-align: center;
    
}